export(.hide_turtle)
export(.show_turtle)
export(down)
export(left)
export(move_backward)
export(move_forward)
export(reset)
export(right)
export(set_col)
export(set_lty)
export(set_lwd)
export(set_param)
export(turn)
export(turtle_hide)
export(turtle_init)
export(turtle_show)
export(up)
