export(.hide_turtle)
export(.show_turtle)
export(down)
export(move_backward)
export(move_forward)
export(reset)
export(set_col)
export(set_lty)
export(set_lwd)
export(set_param)
export(turtle_hide)
export(turtle_init)
export(turtle_left)
export(turtle_right)
export(turtle_show)
export(turtle_status)
export(turtle_turn)
export(up)
