export(down)
export(hide)
export(hide_turtle)
export(left)
export(move_backward)
export(move_forward)
export(reset)
export(right)
export(set_col)
export(set_lty)
export(set_lwd)
export(set_param)
export(show)
export(show_turtle)
export(turn)
export(turtle_init)
export(up)
