<html>

<head>
<title>TurboTurtle</title>
</head>

<body>
<center>
<p>How do we really plot snowflake :) </p>

<!--begin.rcode echo=FALSE
library(TurboTurtle)
turtle_init()
hide()
for(i in 1:5){
  move_forward(2)
  for(j in 1:5){
    move_forward(1)
    up()
    move_backward(1)
    down()
    left(72)
  }
  up()
  move_backward(2)
  down()
  left(72)
}

end.rcode-->


</body>
</html>
